.App {
  text-align: center;
}
.productgrid{
   display:grid;
   grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
gap:20px

}

.container {
  display: flex;
}

.filter-section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
  margin-right: 20px;
}

.productcard {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
img{

  max-width: 100px;
  max-height: 100px;
  text-align: center;
}
/* .filter{
margin: 20px 0;
display: flex;
gap: 10px;
} */




/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
 
  
  .productgrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust grid columns */
  }
}

@media (max-width: 480px) {
  .productcard {
    padding: 10px;
  }
  
  img {
    max-width: 80px;
    max-height: 80px;
  }

  .filter-section {
    min-width: auto;
  }
}